* {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2a2a2a;
  background-color: #e0e0e0;
  margin: 0px;
  padding: 0px;
}

body,
#app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main {
  flex: 1;
}

a {
  text-decoration: none;
}
/**
** header 
**/

.header {
  background-color: #2a2a2a;
  color: #e0e0e0;
  display: flex;
  padding: 0.5em;
}

.header_logo {
  background-color: #2a2a2a;
  color: #e0e0e0;
  font-weight: bold;
  font-size: 1.8em;
  text-align: left;
}

.navi-icon {
  display: none;
}

nav {
  margin-left: auto;
}

nav ul {
  background-color: #2a2a2a;
  color: #e0e0e0;
  font-size: 1.8em;
  display: flex;
  list-style: none;
}

nav ul li {
  background-color: #2a2a2a;
  color: #e0e0e0;
  padding: 0em 0.5em;
}

nav ul li:hover {
  cursor: pointer;
}

@media screen and (max-width: 896px) {
  .header {
    position: relative;
    display: inline-flex;
    width: 100%;
  }

  .header_logo {
    text-align: left;
    width: 85%;
  }

  .header-icons {
    display: inline;
    margin-left: auto;
    margin-top: auto;
  }

  .navi-icon {
    display: block;
  }

  .header-icons svg {
    background-color: #2a2a2a;
  }

  .header-icons svg path {
    color: #e0e0e0;
  }

  nav {
    margin-left: auto;
    margin-right: auto;
  }

  nav ul {
    display: block;
    position: absolute;
    top: 100%;
    right: 0;
    left: 0;
    z-index: -1;
    visibility: hidden;
    background-color: #2a2a2a;
    opacity: 0;
    transform: translateY(-100%);
    transition: transform 0.3s ease-out, opacity 0.3s ease-out;
  }
  nav ul.open {
    z-index: 1;
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
  }

  nav ul li {
    display: block;
    text-align: center;
    padding: 0.5em;
  }

  .hidden {
    display: none;
  }
}

/**
** body
**/

h1 {
  font-size: 4.2rem;
  font-weight: bold;
  margin-top: 0.1em;
}

.container {
  display: grid;
  grid-template-columns: repeat(2, 350px);
  grid-auto-rows: minmax(200px, auto);
  gap: 50px;
  justify-content: center;
  align-self: center;
  margin-top: 1.5em;
}
.card {
  height: 200px;
  box-shadow: 8.71px 8.71px 6px #bebebe, -8.71px -8.71px 6px #ffffff;
  position: relative;
}

.card:hover {
  box-shadow: -1px -1px 2px 0px #bebebe, 1px 1px 2px 0px #ffffff;
  cursor: pointer;
}

.card a {
  position: absolute;
  display: table-cell;
  vertical-align: middle;
  position: absolute;
  top: 20;
  left: 0;
  height: 100%;
  width: 100%;
  font-size: 3.2rem;
  font-weight: bolder;
}

.icon-box {
  display: table-cell;
  vertical-align: middle;
  position: absolute;
  top: 100;
  left: 0;
  height: 60%;
  width: 100%;
}

@media screen and (max-width: 896px) and (orientation: landscape) {
  h1 {
    font-size: 2.8rem;
    font-weight: bold;
    margin-top: 0em;
  }

  .container {
    grid-template-columns: repeat(4, 180px);
    grid-auto-rows: minmax(180px, auto);
    gap: 20px;
    margin-top: 2em;
  }
  
  .card {
    height: 125px;
  }

  .card a {
    font-size: 2em;
  }
}

@media screen and (max-width: 480px) {
  h1 {
    font-size: 1.8rem;
    font-weight: bold;
    margin-top: 0.5em;
    color: #2a2a2a;
    background-color: #e0e0e0;
  }
  .container {
    grid-template-columns: repeat(1, 200px);
    grid-auto-rows: minmax(100px, auto);
    gap: 30px;
    margin-top: 2em;
    margin-bottom: 2em;
  }

  .card {
    height: 100px;
  }

  .card a {
    font-size: 1.4em;
    padding: 0.1em;
  }

  .icon-box svg  {
    margin-top: 0.25em;
  }

}

/**
** about
**/
.about {
  padding: 1em;
}

.my-icon {
  box-shadow: -1px -1px 2px 0px #bebebe, 1px 1px 2px 0px #ffffff;
  height: 150px;
  margin-top: 1em;
}

.message,
.table-content {
  white-space: pre-wrap;
  word-wrap: break-word;
  padding: 1em;
  font-size: 1.4em;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.table-content a {
  transition: all 0.5s;
}

.table-content a:hover {
  color: #e0e0e0;
  background-color: #2a2a2a;
  box-shadow: 5px 0px 3px 2px #2a2a2a;
}

td,
th {
  border-bottom: 1px solid #2a2a2a;
}

@media screen and (max-width: 480px) {
  .about {
    padding: 0.5em;
  }

  .message,
  .table-content {
    white-space: normal;
    font-size: 1.2em;
    padding: 0.25em;
    text-align: justify;
  }

  table {
    margin-top: 1em;

  }

  th {
    color: #e0e0e0;
    background-color: #2a2a2a;
    font-size: 0.8em;
    padding-right: 0.2em;
  }

  td {
    border-bottom:1px solid #2a2a2a;
    text-align: left;
    font-size: 1em;
    padding-left: 0.2em;
    white-space: pre-line;
  }
}

/**
** works 
**/
.works-container {
  display: grid;
  grid-template-columns: repeat(3, 300px);
  grid-auto-rows: minmax(400px, auto);
  gap: 100px;
  justify-content: center;
  align-self: center;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}

.card-wrapper {
  height: 400px;
  box-shadow: 8.71px 8.71px 6px #bebebe, -8.71px -8.71px 6px #ffffff;
  position: relative;
}

.card-wrapper a {
  display: table-cell;
  vertical-align: middle;
  position: absolute;
  top: 20;
  left: 0;
  height: 100%;
  width: 100%;
}

.card-wrapper a:hover {
  box-shadow: -1px -1px 2px 0px #bebebe, 1px 1px 2px 0px #ffffff;
  cursor: pointer;
}

.card-image img {
  max-width: 300px;
  max-height: 250px;
  min-width: 300px;
  min-height: 250px;
  box-shadow: 0px 10px 8.71px -5px #bebebe;
  display: flex;
}

.card-contents {
  margin-top: 0.5em;
  padding: 0.5em;
  text-align: left;
}

.card-title {
  font-size: 1.8em;
  font-weight: bolder;
  text-align: left;
}

.card-detail {
  font-size: 1em;
  text-align: left;
  padding-left: 0em;
}

@media screen and (max-width: 896px) {
  .works-container {
    grid-template-columns: repeat(2, 300px);
    gap: 20px;
  }
}

@media screen and (max-width: 480px) {
  .works-container {
    grid-template-columns: repeat(1, 300px);
    gap: 50px;
  }
}

/**
** footer
**/
footer {
  display: block;
  background-color: #2a2a2a;
  width: 100%;
  bottom: 0;
}

footer p {
  background-color: #2a2a2a;
  color: #e0e0e0;
  padding-top: 5px;
  text-align: center;
  font-size: 1.2em;
}

.footer-icon {
  background-color: #2a2a2a;
  display: inline-block;
  margin: 10px;
}

.footer-icon a {
  background-color: #2a2a2a;
}

.footer-icon svg {
  background-color: #2a2a2a;
  margin-top: 10px;
  margin-bottom: 10px;
}

.footer-icon svg path {
  color: #e0e0e0;
}
